konlpy~=0.6.0
numpy~=1.25.1
gensim~=4.3.1
scipy~=1.10.1
pyLDAvis~=3.4.1
pandas~=2.0.3
scikit-learn~=1.2.2
setuptools~=67.7.2

matplotlib~=3.4.3
nltk~=3.6.5
plotly-express~=0.4.1
plotly~=5.3.1
regex~=2021.11.10
seaborn~=0.11.2
streamlit~=1.2.0
